@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Inter', sans-serif;
    }

    body {
        @apply bg-gray-50 text-slate-900 antialiased;
    }
}