@import "tailwindcss";

@theme {
    --font-sans: 'Inter', sans-serif;
}

@layer base {
    html {
        font-family: var(--font-sans);
    }

    body {
        @apply bg-gray-50 text-slate-900 antialiased;
    }
}