langchain
langchainhub
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langchain-chroma
langchain-ibm
langgraph
langgraph-checkpoint
langgraph-prebuilt
openai
tiktoken
chromadb
posthog
faiss-cpu
pypdf
unstructured
unstructured[pdf]
unstructured-client
unstructured-inference
unstructured-pytesseract
docx2txt
python-docx
python-pptx
typing_extensions
requests
charset-normalizer
chardet
urllib3
zstandard
loguru
rich
sentence-transformers
rank_bm25
matplotlib
jsonargparse
pymupdf
streamlit
cohere
docling
numpy
ragas
datasets
ollama
